// Variables overrides

// Bootstrap and its default variables
@import "../../../../node_modules/bootstrap/scss/bootstrap";
    
// SASS variablen nutzen
body (
    background-color: lightgreen;
    font-family: 'Open Sans', sans-serif;
)
a
    text-decoration: none;
    color: black;

a:hover
    text-decoration: underline;

header
    display: flex;
    justify-content: space-between;

header div
    order: 3;

nav
    order: 1;

nav li
    list-style: none;

.logo
    order: 2;

.logo img
    height: 140px;