/*=========================
Table of contents

1. Variables overrides
1.1 color system

2. Own styles
2.1 Import fonts
2.2 Typography



=========================*/

// 1. Variables overrides
// 1.1 Color system
// scss-docs-start gray-color-variables
$white:    #f8efdd; // changed
$gray-100: #e0d8c8; // changed
$gray-200: #c8c1b4; // changed
$gray-300: #b1aaa1; // changed
$gray-400: #9a958d; // changed
$gray-500: #847f7b; // changed
$gray-600: #6f6b68; // changed
$gray-700: #5a5756; // changed
$gray-800: #464445; // changed
$gray-900: #333135; // changed
$black:    #212025; // changed

// scss-docs-start color-variables
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$gold:    #F9AB26; // this is new or should we use yellow? This is used also for warning!

// scss-docs-start theme-color-variables
$primary:       $gold;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $white;
$dark:          $black;

// Body
//
// Settings for the `<body>` element.
$body-bg:                   $black;
$body-color:                $white;
$body-text-align:           null;

// Spacing
$spacer: 1rem;

// 1.2 Typography
@font-face {
    font-family: "Enchanted Land";
    src: url(./fonts/EnchantedLand.otf);
}

@font-face {
    font-family: "Roboto Slab";
    src: url(./fonts/RobotoSlab.ttf);
}

$font-family-sans-serif:      "Roboto Slab", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Roboto Slab", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`

// Display headings
$headings-margin-bottom:      $spacer * .5;
$headings-font-family:        "Roboto Slab";
$headings-font-style:         null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

// 1.X Progress bars
// scss-docs-start progress-variables
$progress-height:                   1rem;
$progress-bg:                       $gray-700; // changed
$progress-bar-color:                $black; // changed
$progress-bar-bg:                   $white; // changed

// Bootstrap and its default variables
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// 2. Own styles
// 2.1 Import fonts

// 2.2 Typography
.text-key {
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
    opacity: .5;
}

// Display headings
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    margin-bottom: $spacer * .5;
    font-family: "Enchanted Land";
    font-style: null;
    font-weight: null;
    line-height: 1.2;
    color: null;
}

.title {
    font-size: 15vw;
    line-height: .7;
    text-align: center;
    user-select: none;
}

// 2.3 General changes
header {
    z-index: 9998;
    position: relative;
}

header img {
    z-index: 9999;
    position: relative;
}

// 2.X Ingredients table
.table-ingredients {
    margin-bottom: $spacer;
    table-layout: fixed;
    width: 100%;

    td {
        border: 1px solid $gray-800; // need a darker version of this
        padding: .9375rem; // search for spacing variable and change the value
    }

    tr td:first-child {
        border-left: none;
    }

    tr td:last-child {
        border-right: none;
    }
}

.devider {
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 0;
    border-top: 1px solid $gray-700;
}

header {
    z-index: 9999;
    position: relative;
}



/*==================================================
Footer
==================================================*/
.divider {
    position: relative
}
.divider:before {
    border-top: 2px solid $gray-800;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    content: "";
}

.divider-content {
    z-index: 1;
}

.legal a:hover {
    color: $primary !important;
}