<main th:fragment="agb">
  <!-- Title -->
  <h1 class="title display-1">Unsere<br />Absicherung.</h1>

  <!-- Divider -->
  <!-- <div
    th:replace="fragments :: divider (src='wappen-sparrenburg.svg',alt='Sparrenburg Wappen',width='60')"
  ></div>-->

  <!-- Content -->
  <h2>
    <a
      id="a-datenschutz-fuer-internetseiten"
      name="a-datenschutz-fuer-internetseiten"
      >A. Allgemeine Nutzungsbedingungen für Internetseiten von Bielefelder
      Unikat</a
    >
  </h2>

  <h3>1. Geltungsbereich</h3>

  <p>
    Die nachfolgenden Bestimmungen gelten für die Nutzung der Webseiten der
    Bielefelder Unikat GmbH &amp; Co. KG, Goldbach 1, 33615 Bielefeld (im
    Folgenden „Bielefelder Unikat“) unter der Top-Level-Domain
    www.bielefelder-unikat.de einschließlich des Bereiches des Bielefelder
    Unikat Online-Shops sowie aller zur Top-Level-Domain zugehörigen Sub-Domains
    (z. B. o0.bielefelder-unikat.de).
  </p>

  <h3>2. Gegenstand</h3>

  <p>
    Auf den Internetseiten von Bielefelder Unikat werden neben verschiedenen
    Informationen auch Gewinnspiele und andere Aktionen durchgeführt, an der
    registrierte Nutzer/innen teilnehmen können. Eine Teilnahme erfolgt unter
    den in diesen Nutzungsbedingungen geregelten Bedingungen. Zudem beinhaltet
    die Seite noch einen weiteren Bereich: Den „Bielefelder Unikat Online-Shop“.
    Für diesen Bereich gelten zudem ergänzend die jeweiligen „Allgemeinen
    Geschäftsbedingungen für den Online Shop“ (Teil B.). Soweit die darin
    enthaltenen Regelungen den Allgemeinen Nutzungsbedingungen in Teil A.
    widersprechen, gehen sie diesen vor.
  </p>

  <h3>
    3. Voraussetzungen für die Teilnahme an Gewinnspielen und anderen Aktionen /
    Account
  </h3>

  <p>
    3.1. Teilnehmen an Gewinnspielen und anderen angebotenen Aktionen können nur
    natürliche Personen ab 18 Jahren.
  </p>

  <p>
    3.2. Die Nutzer/innen müssen sich vor der Teilnahme registrieren und so
    einen Account erstellen. Bei der Anmeldung müssen korrekte und aktuelle
    Daten angegeben werden (Pflichtangaben sind: Anrede, Vorname, Nachname,
    Geburtsdatum und E-Mail-Adresse). Sofern der Nutzer / die Nutzerin mögliche
    Änderungen zu den gemachten Angaben nicht unverzüglich Bielefelder Unikat
    mitteilt, trifft Bielefelder Unikat an eventuellen für ihn hieraus
    entstehenden Nachteilen kein Verschulden. Die Zugangsdaten erhalten die
    Nutzer/innen zusammen mit der Anmeldebestätigung per E-Mail.
  </p>

  <h3>4. Account löschen / Folgen der Löschung</h3>

  <p>
    4.1. Der Nutzer / die Nutzerin kann seinen / ihren Account jederzeit löschen
    lassen.
  </p>

  <p>
    4.2. Bielefelder Unikat behält sich das Recht der fristlosen Beendigung der
    Teilnahme eines / r Nutzer/in aus wichtigem Grund vor.
  </p>

  <p>
    4.3. Durch die Löschung des Accounts erfolgt die Löschung der angegebenen
    Daten, soweit sie nicht im Rahmen von gesetzlichen Vorgaben bzw. zur
    Abwicklung von Bestellungen im Online Shop, einschließlich der
    Gewährleistung, vorgehalten werden müssen. Der Nutzer / die Nutzerin
    verliert mit der Löschung den Anspruch auf sämtliche Bielefelder Unikat
    Leistungen aus der Teilnahme.
  </p>

  <h3>5. Nutzung des Bereiches "Bielefelder Unikat Online Shop"</h3>

  <p>
    Für die Bestellung im Bielefelder Unikat Online Shop gelten zudem die im
    Teil C. aufgeführten „Allgemeinen Geschäftsbedingungen für den Bielefelder
    Unikat Online Shop“. Die Nutzung erfordert die Erweiterung des Accounts, da
    weitere Daten erforderlich sind.
  </p>

  <h3>6. Datenschutz</h3>

  <p>
    Hinweise zum Datenschutz sind in den&nbsp;Datenschutzhinweisen zu finden.
  </p>

  <h3>7. Gewinnspiele</h3>

  <p>
    7.1. Für die Gewinnspiele gelten, soweit angegeben, die jeweiligen
    Teilnahmebedingungen.
  </p>

  <p>
    7.2. Ergänzend gilt für alle Gewinnspiele: Der Rechtsweg ist ausgeschlossen.
    Eine Barauszahlung der Gewinne ist nicht möglich.
  </p>

  <h3>8. Änderungen der vorliegenden Nutzungsbedingungen</h3>

  <p>
    Bielefelder Unikat ist berechtigt, die Nutzungsbedingungen in Teil A.
    jederzeit zu ändern. Bei für die registrierten Nutzer/innen nachteiligen
    Änderungen finden die neuen Nutzungsbedingungen jedoch erst Anwendung, wenn
    (i) Bielefelder Unikat die Nutzer/innen von der Änderung in Kenntnis setzt
    und (ii) der Nutzer / die Nutzerin nicht innerhalb eines Monats nach der
    Inkenntnissetzung über die Änderung gegenüber Bielefelder Unikat schriftlich
    oder per E-Mail Widerspruch erhebt. Die Inkenntnissetzung kann auch durch
    gesonderten Hinweis auf der Webseite erfolgen.
  </p>

  <h3>9. Haftung</h3>

  <p>
    9.1. Die Haftung von Bielefelder Unikat sowie ihrer Erfüllungs- und
    Verrichtungsgehilfen für schuldhaft verursachte Schäden ist ausgeschlossen,
    soweit der Schaden nicht durch Vorsatz oder grobe Fahrlässigkeit
    herbeigeführt wurde; dies gilt nicht bei Schäden aus der Verletzung des
    Lebens, des Körpers oder der Gesundheit, oder der schuldhaften Verletzung
    wesentlicher Vertragspflichten. Bei der Verletzung wesentlicher
    Vertragspflichten ist die Höhe von Ersatzansprüchen summenmäßig begrenzt auf
    die vorhersehbaren Schäden.
  </p>

  <p>
    9.2. Bielefelder Unikat übernimmt keine Gewähr für die Richtigkeit,
    Aktualität und Vollständigkeit der auf der Webseite oder in den
    schriftlichen Kommunikationsmitteln übermittelten redaktionellen
    Informationen.
  </p>

  <h3>10. Links zu Seiten Dritter</h3>

  <p>
    Die Webseiten von Bielefelder Unikat enthalten Links zu Webseiten, die von
    Dritten betrieben werden. Bielefelder Unikat macht sich die durch Links
    erreichbaren Seiten Dritter nicht zu eigen und ist für deren Inhalte nicht
    verantwortlich.
  </p>

  <hr class="divider"/>

  <h2>
    <a
      id="b-allgemeine-geschaeftsbedingungen"
      name="b-allgemeine-geschaeftsbedingungen"
      >B. Allgemeine Geschäftbedingungen</a
    >
  </h2>

  <h3>1. Geltungsbereich&nbsp;</h3>

  <p>
    Für die Geschäftsbeziehung zwischen dem Kunden und der Bielefelder Unikat
    gelten zusätzlich zu den Allgemeinen Nutzungsbedingungen in Teil A.
    ausschließlich die nachfolgenden Allgemeinen Geschäftsbedingungen für die
    Bestellung im Bielefelder Unikat Online Shop in der jeweils gültigen
    Fassung.
  </p>

  <h3>2. Vetragsschluss</h3>

  <p>
    2.1. Die Darstellung der Produkte im Online-Shop stellt kein rechtlich
    bindendes Angebot, sondern einen unverbindlichen Online-Katalog dar. Durch
    Anklicken des Buttons „Bestellung senden“ geben Sie eine verbindliche
    Bestellung der im Warenkorb enthaltenen Waren ab. Die Bestätigung des
    Eingangs Ihrer Bestellung erfolgt zusammen mit der Annahme der Bestellung
    unmittelbar nach dem Absenden durch automatisierte E-Mail. Mit dieser
    Auftragsbestätigung oder durch Auslieferung der Ware innerhalb von fünf
    Tagen ist der Kaufvertrag zustande gekommen.
  </p>

  <p>
    2.2. Bielefelder Unikat steht es frei, Online Bestellungen nicht anzunehmen.
    Wird Bielefelder Unikat eine Bestellung nicht ausführen, teilt Bielefelder
    Unikat dies dem Besteller unverzüglich mit.
  </p>

  <p>
    2.3. Mit Abgabe der Bestellung bestätigt der Kunde/die Kundin, dass er/sie
    18 Jahre alt ist.
  </p>

  <h3>3.&nbsp;Widerrufsrecht / Ausschluss von Widerrufsrecht</h3>

  <p>
    3.1 Ihnen steht hinsichtlich aller im Bielefelder Unikat Shop erworbenen
    Artikel ein Widerrufsrecht zu. Die Einzelheiten und die Voraussetzungen der
    Rückgabe finden Sie unter dem Punkt Widerrufsrecht und in Ziff. 4. Gerne
    können Sie den der Sendung beiliegenden Retouren- Aufkleber verwenden, was
    uns zudem die Abwicklung erleichtert.
  </p>

  <p>
    3.2 Bei der Lieferung von Waren, die nach Kundenspezifikation angefertigt
    werden oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind
    oder die auf Grund ihrer Beschaffenheit nicht für eine Rücksendung geeignet
    sind oder schnell verderben können oder deren Verfalldatum überschritten
    würde, ist das Widerrufsrecht nach Ziff. 3.1 ausgeschlossen. Davon
    ausdrücklich umfasst sind z. B. beflockte Trikots sowie die Artikel Mein
    Bielefelder Unikat und Mein Bielefelder Unikat Shirt.
  </p>

  <h3>4. Widerrufsrecht</h3>

  <p>
    <strong>Widerrufsbelehrung</strong><br />
    <br />
    Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen
    Vertrag zu widerrufen.<br />
    <br />
    Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von
    Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz
    genommen haben bzw. hat.<br />
    <br />
    Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Bielefelder Unikat GmbH
    &amp; Co. KG, Goldbach 1, 33615 Bielefeld, Tel.: 0176/34 93 41 06, Fax:
    <span class="no-link">0176/34 93 41 07</span>, E-Mail:
    <a href="mailto:bierbestellen@gmail.com">bierbestellen@gmail.com</a>)
    mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter
    Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu
    widerrufen, informieren. Sie können dafür das beigefügte
    Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.<br />
    <br />
    Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über
    die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.<br />
    <br />
    <strong>Folgen des Widerrufs</strong><br />
    <br />
    Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir
    von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der
    zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der
    Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt
    haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag
    zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags
    bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe
    Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben,
    es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in
    keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir
    können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten
    haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren
    zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.<br />
    <br />
    Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen
    vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags
    unterrichten, an uns oder an arvato media GmbH, c/o Bielefelder Unikat
    Versandservice, An der Autobahn 196, 33333 Gütersloh, zurückzusenden oder zu
    übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist
    von vierzehn Tagen absenden. Sie tragen die unmittelbaren Kosten der
    Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren
    nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der
    Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen
    Umgang mit ihnen zurückzuführen ist.
  </p>

  <h3>5. Lieferung / Versandkosten</h3>

  <p>
    5.1. Lieferungen sind nur innerhalb Deutschlands möglich. Die Lieferung
    erfolgt generell über die Deutsche Post AG, Charles-de-Gaulle-Straße 20,
    53113 Bonn, und zwar innerhalb von ca. 2 – 4 Werktagen nach Bestelleingang,
    sofern nicht auf der Produktdetailseite anders angegeben. Sofern uns Ihre
    gültige E-Mail-Adresse vorliegt, werden wir Sie über den Versand Ihres
    Paketes informieren und Ihnen die Sendungsnummer zur Verfügung stellen. Mit
    Hilfe der Sendungsnummer können Sie auf der Website der Deutsche Post AG (<a
      class="text-break"
      href="https://www.dhl.de/de/paket/information/sendungsverfolgung.html"
      >https://www.dhl.de/de/paket/information/sendungsverfolgung.html</a
    >) den Status Ihrer Sendung entnehmen. Zudem werden wir Ihre E-Mail-Adresse
    an die Deutsche Post AG weiterleiten, damit Sie die Ankündigung Ihres Pakets
    erhalten.
  </p>

  <p>
    5.2. Die Porto- und Versandkosten pro Auftrag betragen pauschal 5,95 Euro.
  </p>

  <h3>6. Preise / Einsatz von Bielefelder Unikat</h3>

  <p>
    Es gelten die zum Zeitpunkt der Bestellung angegebenen Preise. Alle Preise
    im Online Shop sind Euro Preise einschließlich der gesetzlichen
    Mehrwertsteuer.
  </p>

  <h3>7. Zahlung</h3>

  <p>
    Der Kunde/in zahlt wie es für ihn / sie am bequemsten ist. Wir bieten dem
    Kunden/in verschiedene, nachstehend genannte Zahlungsarten an.
  </p>

  <p>
    Sofern wir in Vorleistung treten, z. B. bei einem Kauf auf Rechnung, holen
    wir zur Wahrung unserer berechtigten Interessen ggf. eine Bonitätsauskunft
    auf der Basis mathematisch-statistischer Verfahren bzw. Informationen zu
    Ihrem bisherigen Zahlungsverhalten bei der Infoscore Consumer Data GmbH,
    Rheinstr. 99, 76532 Baden-Baden ein. Hierzu übermitteln wir die zu einer
    Bonitätsprüfung benötigten personenbezogenen Daten (Name und Anschrift) an
    die Infoscore Consumer Data GmbH und verwenden die erhaltenen Informationen
    über die statistische Wahrscheinlichkeit eines Zahlungsausfalls für eine
    abgewogene Entscheidung über die Begründung, Durchführung oder Beendigung
    des Vertragsverhältnisses.
  </p>

  <p>
    Die Bonitätsauskunft kann Wahrscheinlichkeitswerte (Score-Werte) beinhalten,
    die auf Basis wissenschaftlich anerkannter mathematisch-statistischer
    Verfahren berechnet werden und in deren Berechnung unter anderem
    Anschriftendaten einfließen. Ihre schutzwürdigen Belange werden gem. den
    gesetzlichen Bestimmungen berücksichtigt.
  </p>

  <p>
    <strong>Per Rechnung:</strong><br />
    Bei Bezahlung per Rechnung muss die Lieferanschrift innerhalb Deutschlands
    liegen. Mit der Sendung erhält der Kunde/in automatisch einen vorgefertigten
    Überweisungsbeleg, den der Kunde/in bitte zur Zahlung nutzt. Die Rechnung
    ist spätestens 14 Tage nach Rechnungsdatum zu zahlen. Die Möglichkeit zum
    Skontoabzug besteht nicht.
  </p>

  <p>
    <strong>Per Kreditkarte:</strong><br />
    Wir akzeptieren die Zahlung per Kreditkarte (VISA, und Euro- / Mastercard).
    Bei einer Bestellung mit Kreditkartenzahlung gibt der Kunde/in bitte direkt
    seine 16-stellige Karten-Nummer, den Sicherheitscode sowie das
    Gültigkeitsdatum an. Die Belastung Ihres Kreditkartenkontos erfolgt mit
    Abschluss der Bestellung.
  </p>

  <p>
    <strong>Per Vorauszahlung:</strong><br />
    Der Kunde/in erhält nach Abschluss seiner/ihrer Online Bestellung
    automatisch eine Bestätigung über seinen/ihren Auftrag und in einer weiteren
    E-Mail alle Angaben zur Zahlung sowie die zu nutzende Bankverbindung. Der
    Kunde/in muss sicherstellen, dass bei einer Überweisung die notwendigen
    Angaben zum Auftrag aufgeführt werden, damit eine Zuordnung des Betrages
    gewährleistet ist.
  </p>

  <h3>8. Eigentumsvorbehalt</h3>

  <p>
    Die Ware bleibt bis zur vollständigen Bezahlung Eigentum von Bielefelder
    Unikat.
  </p>

  <h3>9. Aufrechnung / Zurückbehaltungsrecht</h3>

  <p>
    9.1 Der Kunde/in hat das Recht zur Aufrechnung nur dann, wenn seine
    Gegenansprüche rechtskräftig festgestellt oder von Bielefelder Unikat
    anerkannt sind.
  </p>

  <p>
    9.2 Zur Ausübung eines Zurückbehaltungsrechts ist der Kunde/in befugt, wenn
    der Gegenanspruch auf dem gleichen Vertragsverhältnis beruht.
  </p>

  <h3>10. Plattform zur Online-Streitbeteilugung</h3>

  <p>
    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung
    (OS-Plattform) unter dem Link
    <a href="http://ec.europa.eu/consumers/odr"
      >http://ec.europa.eu/consumers/odr</a
    >
    bereit. Zur Teilnahme an einem Streitbeilegungsverfahren vor einer
    Verbraucherschlichtungsstelle sind wir nicht verpflichtet und nicht bereit.
  </p>

  <h3>11. Personalisierte Artikel</h3>

  <p>
    11.1. Sofern der Kunde / die Kundin einen durch Zusendungen des Kunden / der
    Kundin (Bilder und / oder Texte) personalisierten Artikel (z. B. Etiketten
    oder T-Shirts) bestellt, wird der Kunde / die Kundin es unterlassen, Bilder
    und Texte zu nutzen, die gegen die öffentliche Ordnung und / oder die guten
    Sitten verstoßen, insbesondere solche, die andere Personen diskriminieren
    und / oder beleidigen; und / oder radikale, rassistische oder anstößige
    Inhalte haben.<br />
    Weiterhin erklärt der Kunde / die Kundin mit der Zusendung der Bilder
    und/oder Texte, dass diese frei von Rechten Dritten sind bzw., dass der /
    die Kundin die entsprechenden Nutzungsrechte besitzt; und, dass diese keine
    Persönlichkeitsrechte verletzen.
  </p>

  <p>
    11.2. Der Kunde / die Kundin verpflichtet sich, Bielefelder Unikat von allen
    Verlusten, Schaden, Haftungen, Kosten (einschließlich angemessener Kosten
    der Rechtsverteidigung), Ausgaben oder Geldauflagen freizuhalten, die
    Bielefelder Unikat infolge dessen erleidet, dass der / die Kunde/in die
    Verpflichtung nach Ziff. 10.1 verletzt.
  </p>

  <p>
    11.3. Im Falle, dass der Kunde/in ein eigenes Motiv an Bielefelder Unikat
    übermittelt oder sonstigen Einfluss auf das Produkt (z. B. Text- oder
    Motivpersonalisierung) nimmt, versichert der Kunde/in Bielefelder Unikat
    gegenüber, dass Text und Motiv frei von Rechten Dritter sind. Etwaige
    Urheber-, Persönlichkeitsrechte- oder Namensrechtsverletzungen gehen in
    diesem Fall vollständig zu Lasten des Kunden/in. Des Weiteren versichert der
    Kunde/in, dass er durch die Individualisierung es Produkts keine sonstigen
    Rechte Dritter verletzt.
  </p>

  <p>
    11.4. Der Kunde verpflichtet sich, Bielefelder Unikat von allen Forderungen
    und Ansprüchen freizustellen, die wegen der Verletzung von derartigen
    Rechten Dritter geltend gemacht werden, soweit der Kunde/in die
    Pflichtverletzung zu vertreten hat. Der Kunde/in erstattet Bielefelder
    Unikat alle in diesem Zusammenhang entstehenden Verteidigungskosten und
    sonstige Schäden.
  </p>

  <h3>
    12. Stand der Allgemeinen Geschäftsbedingungen für den Bielefelder Unikat
    Online Shop&nbsp;
  </h3>

  <p>Stand: August 2021.</p>
</main>
