<main th:fragment="contact">
  <!-- Title -->
  <h1 class="title display-1">Wir freuen uns<br>auf deine Nachricht.</h1>

  <!-- Pills -->
  <ul
    class="nav nav-pills justify-content-center mb-5"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="pills-message-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-message"
        type="button"
        role="tab"
        aria-controls="pills-message"
        aria-selected="true"
      >
        Nachricht
      </button>
    </li>
    <!--
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-employees-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-employees"
        type="button"
        role="tab"
        aria-controls="pills-employees"
        aria-selected="false"
      >
        Mitarbeiter
      </button>
    </li>-->
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-address-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-address"
        type="button"
        role="tab"
        aria-controls="pills-address"
        aria-selected="false"
      >
        Anschrift
      </button>
    </li>
  </ul>

  <!-- Tab content -->
  <div class="tab-content mb-5" id="pills-tabContent">
    <!-- Tab message -->
    <div
      class="tab-pane fade show active"
      id="pills-message"
      role="tabpanel"
      aria-labelledby="pills-message-tab"
    >
      <!-- row -->
      <div class="row justify-content-center">
        <div class="col col-sm-10 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
          <!-- Form -->
          <form class="row g-3 needs-validation" novalidate>
            <!-- First name -->
            <div class="col-12">
              <label for="inputFirstName" class="form-label">Vorname</label>
              <input
                type="text"
                class="form-control"
                id="inputFirstName"
                placeholder="Max"
                autofocus
                required
              />
              <div class="valid-feedback">Sieht gut aus!</div>
              <div class="invalid-feedback">Bitte Vorname eintragen.</div>
            </div>

            <!-- Last name -->
            <div class="col-12">
              <label for="inputLastName" class="form-label">Nachname</label>
              <input
                type="text"
                class="form-control"
                id="inputLastName"
                placeholder="Mustermann"
                required
              />
              <div class="valid-feedback">Sieht gut aus!</div>
              <div class="invalid-feedback">Bitte Nachname eintragen.</div>
            </div>

            <!-- Subject -->
            <div class="ccol-12">
              <label for="inputSubject" class="form-label">Betreff</label>
              <input
                type="text"
                class="form-control"
                id="inputSubject"
                placeholder="Anfrage, Verbesserungsvorschlag, etc."
                required
              />
              <div class="valid-feedback">Sieht gut aus!</div>
              <div class="invalid-feedback">Bitte einen Betreff eintragen.</div>
            </div>

            <!-- Message -->
            <div class="col-12 mb-4">
              <label for="inputMessage" class="form-label">Nachricht</label>
              <textarea
                class="form-control"
                id="inputMessage"
                placeholder="Deine Nachricht an uns"
                rows="3"
              ></textarea>
              <div class="valid-feedback">Sieht gut aus!</div>
              <div class="invalid-feedback">
                Bitte eine Nachricht eintragen.
              </div>
            </div>

            <!-- Submit -->
            <div class="d-grid">
              <button
                type="submit"
                class="btn btn-primary"
                onClick="sendMessage();"
              >
                Versenden
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Tab employees -->
    <!-- <div
      class="tab-pane fade"
      id="pills-employees"
      role="tabpanel"
      aria-labelledby="pills-employees-tab"
    >
      <div class="row g-3">
        Pascal Bringer, Sven Hädrich, Lukas Kröker, Jens Trautmann und Kasimir
        Eckhardt
      </div>
    </div>
    -->

    <!-- Tab address -->
    <div
      class="tab-pane fade"
      id="pills-address"
      role="tabpanel"
      aria-labelledby="pills-address-tab"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2455.036997506327!2d8.522391915739853!3d52.024423680589294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba3d1631f872bf%3A0xaf6ef9b87bea08b9!2sGoldbach%201%2C%2033615%20Bielefeld!5e0!3m2!1sde!2sde!4v1629029742457!5m2!1sde!2sde"
        width="100%"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>

  <script>
    function sendMessage() {
      var firstName = document.getElementById("inputFirstName").value;
      var lastName = document.getElementById("inputLastName").value;
      var subject = document.getElementById("inputSubject").value;
      var message = document.getElementById("inputMessage").value;
      message =
        message + "\n\nFreundliche Grüße\n\n" + firstName + " " + lastName;
      window.location.href =
        "mailto:bierbestellen@gmail.com?subject=" +
        encodeURIComponent(subject) +
        "&body=" +
        encodeURIComponent(message);
    }
  </script>

  <!--
  <h1>Kontakt</h1>
  <p>
    Unsere Mitarbeiter:<br />
    Pascal Bringer, Sven Hädrich, Lukas Kröker, Jens Trautmann und Kasimir
    Eckhardt
  </p>
  <p>
    Anschrift:<br />
    Kupferhammer<br />
    33649 Bielefeld
  </p>
  <p>
    Telefonnummer Kundennotdienst:
    <a href="tel:+4917634934106">0176/34934106</a>
  </p>
  <div>
    <h2>Nachricht an Support senden</h2>
    <p>Name: <input type="text" id="name" /></p>
    <p>Betreff: <input type="text" id="subject" /></p>
    <p>
      Nachricht:<br />
      <textarea id="message" cols="50" rows="10"></textarea>
    </p>
    <script>
      function sendMessage() {
        var name = document.getElementById("name").value;
        var subject = document.getElementById("subject").value;
        var message = document.getElementById("message").value;
        message = message + "\n\nFreundliche Grüße\n\n" + name;
        window.location.href =
          "mailto:bierbestellen@gmail.com?subject=" +
          encodeURIComponent(subject) +
          "&body=" +
          encodeURIComponent(message);
      }
    </script>
    <button type="button" class="btn btn-primary" onClick="sendMessage();">
      Versenden
    </button>
  </div>
  -->
</main>
