<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cookies</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/images/favicon.ico}">
</head>
<body>
    <table>
        <caption><strong>Cookies</strong></caption>
        <tr>
            <th scope="col" th:text="'Name'" />
            <th scope="col" th:text="'Value'" />
        </tr>
        <tr th:each="cookie: ${cookies}">
            <td th:text="${cookie.getName()}" />
            <td th:text="${cookie.getValue()}" />
        </tr>
    </table><br>
</body>
</html>