<main th:fragment="datenschutz">
  <!-- Title -->
  <h1 class="title display-1">Ihre&nbsp;Daten<br />sind&nbsp;geheim&nbsp;wie<br />unsere&nbsp;Rezepte.</h1>

  <!-- Divider -->
  <div
    th:replace="fragments :: divider (src='wappen-sparrenburg.svg',alt='Sparrenburg Wappen',width='60')"
  ></div>

  <!-- Content -->
  <p>
    Die nachfolgenden Datenschutzhinweisegeltenfür die Nutzung der Webseiten der
    Bielefelder Unikat GmbH &amp; Co. KG, Goldbach 1, 33615 Bielefeld (im
    Folgenden „Bielefelder Unikat“) unter der Top-Level-Domain
    www.bielefelder-unikat.de einschließlich des Bereiches des Bielefelder
    Unikat Online Shop sowie aller zur Top-Level-Domain zugehörigen Sub-Domains
    (z. B. o0.bielefelder-unikat.de).
  </p>

  <p>
    Der Schutz Ihrer persönlichen Daten ist der Bielefelder Unikat sehr wichtig.
    Selbstverständlich halten wir uns bei der Verarbeitung streng an die
    datenschutzrechtlichen Bestimmungen.
  </p>

  <p>
    Unsere Informationssysteme sind durch technische und organisatorische
    Maßnahmen zur Sicherstellung der Datenschutzziele, Vertraulichkeit,
    Integrität, Verfügbarkeit und Belastbarkeit (Art. 24, 32 DSGVO) geschützt.
  </p>

  <p>
    Unseren Datenschutzbeauftragten erreichen Sie unter:
    <a href="mailto:bierbestellen@gmail.com">bierbestellen@gmail.com</a>.
  </p>

  <h3>1. Wichtige Begriffe</h3>

  <p>
    <strong>Cookies</strong>: Textdateien, die der aufgerufene Webserver mittels
    des verwendeten Browsers auf dem Computer des Nutzers platziert. Die
    gespeicherten Cookie-Informationen können sowohl eine Kennung (Cookie-ID)
    enthalten, die zur Wiedererkennung dient, als auch inhaltliche Angaben wie
    Anmeldestatus oder Informationen über besuchte Webseiten. Der Browser sendet
    die Cookie-Informationen bei späteren, neuen Besuchen dieser Seite mit jeder
    Anforderung wieder an den Webserver. Die meisten Browser akzeptieren Cookies
    automatisch. Sie können Cookies mithilfe der Browserfunktionen (zumeist
    unter "Optionen" oder "Einstellungen") verwalten. Dadurch kann das Speichern
    von Cookies deaktiviert, von Ihrer Zustimmung im Einzelfall abhängig gemacht
    oder anderweitig eingeschränkt werden. Sie können Cookies auch jederzeit
    löschen. Wir verwenden IP-Adressen oder Cookies nicht, um Sie persönlich zu
    identifizieren. Haben Sie in Ihrer Anmeldung / Ihren Profileinstellungen
    ausgewählt, automatisch angemeldet bleiben zu wollen, wird ein Cookie
    längerer Laufzeit verwendet, um ein anonymisiertes Anmeldetoken abzulegen.
  </p>

  <p>
    <strong>Browser</strong>: Computerprogramm zur Darstellung von Webseiten (z.
    B. Chrome, Firefox, Safari).
  </p>

  <p>
    <strong>DSGVO</strong>: Verordnung (EU) 2016/679 des Europäischen Parlaments
    und des Rates vom 27. April 2016 zum Schutz natürlicher Personen bei der
    Verarbeitung personenbezogener Daten, zum freien Datenverkehr und zur
    Aufhebung der Richtlinie 95/46/EG (Datenschutz-Grundverordnung), abrufbar
    unter
    <a
      href="http://eur-lex.europa.eu/legal-content/DE/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.DEU"
      >http://eur-lex.europa.eu/legal-content/DE/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.DEU</a
    >.
  </p>

  <p>
    <strong>Personenbezogene Daten</strong>: Alle Informationen, die sich auf
    eine identifizierte oder identifizierbare natürliche Person beziehen. Als
    identifizierbar wird eine natürliche Person angesehen, die direkt oder
    indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen,
    zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem
    oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck
    der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen,
    kulturellen oder sozialen Identität dieser natürlichen Person sind.
  </p>

  <p>
    <strong>Verarbeitung</strong>: Jeder mit oder ohne Hilfe automatisierter
    Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang
    mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation,
    das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen,
    das Abfragen, die Verwendung, die Offenlegung durch Übermittlung,
    Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die
    Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.
  </p>

  <h3>2. Cookies</h3>

  <p>
    Für die Dauer Ihres Besuchs unserer Webseite werden diese auf Ihrer
    Festplatte gespeichert und abhängig von der Einstellung Ihres
    Browser-Programms beim Beenden des Browsers wieder gelöscht werden. Das
    Speichern von Cookies kann in den Einstellungen Ihres Browsers ausgeschaltet
    oder deaktiviert werden. Session-Cookies werden automatisch gelöscht, wenn
    Sie Ihren Browser schließen. Persistent-Cookies überdauern das Schließen des
    Browsers.
  </p>

  <p>
    Ein Cookie ist ein von einem Web-Server erzeugter Datensatz, der auf Ihrem
    Endgerät abgelegt wird. Diese sind notwendig, um einen reibungslosen und
    besseren Ablauf der Benutzung der Webseite zu ermöglichen (insbesondere für
    den Einkauf im Online Shop).
  </p>

  <p>
    Zudem werden die Cookies zur anonymen statistischen Auswertung für die Dauer
    einer Sitzung verwendet. Der Cookie enthält keine personenbezogenen Daten
    und ist nicht geeignet, Sie auf den Websites Dritter zu identifizieren.
  </p>

  <p>
    <strong>Local Storage</strong><br />
    Damit Sie die Bielefelder Unikat Mediathek Ihren persönlichen Bedürfnissen
    und Ihrer Nutzung anpassen können, verwenden wir neben Cookies auch die
    sogenannte Local Storage Technik (auch „Lokale Daten“und „Lokaler
    Speicher“genannt). Dabei werden Daten lokal im Cache Ihres Browsers
    gespeichert, die auch nach dem Schließen des Browser-Fensters oder dem
    Beenden des Programms – soweit Sie den Cache nicht löschen - weiterhin
    bestehen und ausgelesen werden können.<br />
    <br />
    Local Storage ermöglicht es, dass Ihre Präferenzen bei der Nutzung der
    Bielefelder Unikat Mediathek auf Ihrem Rechner gespeichert und von Ihnen
    genutzt werden können. Die Daten aus dem Local Storage werden z.B.
    verwendet, um Ihnen auf Basis Ihrer anonymen Nutzungen Empfehlungen geben zu
    können oder Ihnen eine Merk- und Abonnementliste zu ermöglichen. Dabei
    werden folgende Informationen von der Bielefelder Unikat Mediathek als
    lokale Daten hinterlegt:
  </p>

  <p>
    •die Adressen der von Ihnen aufgerufenen Seiten der Bielefelder Unikat
    Mediathek,<br />
    •die Adressen der Bielefelder Unikat Mediathek-Seiten, die Sie Ihrer
    Merkliste hinzugefügt haben
  </p>

  <p>
    Auf die im Local Storage gespeicherten Daten können Dritte nicht zugreifen.
    Sie werden an Dritte nicht weitergegeben und auch nicht zu Werbezwecken
    verwendet.Wir verwenden diese Techniken im berechtigten Interesse, um ihnen
    ein attraktives voll funktionsfähiges Angebot machen zu können auf Basis von
    Artikel 6 Abs 1 lit. f DSGVO.
  </p>

  <p>
    Wenn Sie nicht wünschen, dass Online-Angebote Cookies- und
    Local-Storage-Funktionen einsetzen, dann können Sie das in den Einstellungen
    Ihres jeweiligen Browsers plattformabhängig im Betriebssystem der jeweiligen
    App steuern. Sie erhalten dort auch einen Überblick über Ihre gespeicherten
    Cookies.Sie können Cookies jederzeit löschen oder von vornherein blocken.
    Local-Storage-Inhalte verwalten Sie im Browser über die Einstellungen zur
    „Chronik“bzw. zu „Lokalen Daten“, je nachdem welchen Browser Sie verwenden.
    Wir weisen darauf hin, dass es dann ggf. zu Funktionseinschränkungen kommen
    kann.
  </p>

  <h3>3. Zweck und Rechtsgrundlage der Datenverarbeitung</h3>

  <p>
    Soweit es zur Durchführung vertraglicher Verpflichtungen zur Erbringung von
    Leistungen bzw. zur Abwicklung von Anfragen erforderlich ist (Art. 6 Absatz
    1 b) DSGVO) und zu eigenen Werbezwecken.
  </p>

  <p>Eine Weitergabe an sonstige Dritte erfolgt nicht.</p>

  <h3>4. Wann verarbeitet Bielefelder Unikat personenbezogene Daten?</h3>

  <p>
    In einigen Fällen benötigen wir personenbezogene Daten von Ihnen, und zwar:
  </p>
  <ul>
    <li>bei der Teilnahme an Gewinnspielen</li>
    <li>bei der Kontaktaufnahme mit uns</li>
    <li>bei der Bestellung im Bielefelder Unikat Online Shop</li>
    <li>bei Kataloganforderungen</li>
    <li>beim Newsletter abonnieren/abbestellen</li>
    <li>bei der Freundschaftswerbung</li>
  </ul>

  <p>
    Soweit es zur Durchführung dieser Leistungen bzw. zur Abwicklung von
    Anfragen erforderlich ist, verarbeiten wir die von Ihnen erhaltenen
    persönlichen Daten (insbesondere Name, Vorname, Geburtsdatum und
    E-Mail-Adresse).<br />
    Wir wissen, dass Ihnen der sorgfältige Umgang mit Ihren personenbezogenen
    Daten sehr wichtig ist. Der Datenschutz genießt bei Bielefelder Unikat einen
    hohen Stellenwert.<br />
    Selbstverständlich halten wir uns bei der Verarbeitungstreng an die
    gesetzlichen Bestimmungen des Bundesdatenschutzgesetzes und des
    Telemediengesetzes. Ihre Daten helfen uns, unseren Service individuell für
    Sie zu gestalten und stetig zu verbessern.
  </p>

  <p>
    Sie können Ihre angegebenen persönlichen Daten jederzeit in Ihrem Account
    einsehen, sofern Sie einen solchen angelegt haben. Unabhängig davon können
    Sie zudem jederzeit Auskunft über die gespeicherten Daten, den Zweck der
    Speicherung und mögliche Empfänger verlangen. Weiterhin haben Sie nach
    Maßgabe der gesetzlichen Bestimmungen ein Recht auf Berichtigung, Sperrung
    und Löschung der personenbezogenen Daten. Ein solches Anliegen können Sie
    durch schriftliche Mitteilung an die Bielefelder Unikat Goldbach 1, 33615
    Bielefeld oder durch eine E-Mail an
    <a
      href="mailto:bierbestellen@gmail.com?subject=Angaben%20zu%20personenbezogenen%20Daten"
      >bierbestellen@gmail.com</a
    >
    oder telefonisch unter der Rufnummer 0176/34 93 41 06 mitteilen.
  </p>

  <h3>5. Automatische Entscheidungsfindung</h3>

  <p>
    Aktuell verwenden wir keine automatische Entscheidungsfindung oder ein
    Profiling.
  </p>

  <h3>6. Datenverarbeitung zu Werbezwecken und Webanalyse</h3>

  <p>
    <strong>6.1</strong> Wir nutzen Ihre Daten nur für eigene Werbezwecke. Wir
    möchten Sie über neue Produkte, unsere Serviceleistungen sowie interessante
    Veranstaltungen informieren. Daher nutzen wir Ihre Daten auch, um Ihnen über
    Ihre Käufe hinaus bestimmte Produkte, Serviceleistungen oder Veranstaltungen
    zu empfehlen, die Sie interessieren könnten. Die Auswertung der Kaufhistorie
    und der Versand entsprechender Werbung per Post oder E-Mail an
    Bestandskunden erfolgt unter Beachtung Ihrer berechtigten Interessen nur für
    Produkte und Serviceleistungen der GVS. Die Versendung per E-Mail erfolgt
    nur mit Ihrer Einwilligung, die Sie mit Wirkung für die Zukunft jederzeit
    widerrufen können.
  </p>

  <p>
    Ihrer Einwilligung können Sie per E-Mail an
    <a href="mailto:bierbestellen@gmail.com">bierbestellen@gmail.com</a>
    jederzeit widersprechen.
  </p>

  <h3>7. Werbewiderspruch</h3>

  <p>
    Der Verwendung Ihrer Daten für werbliche Zwecke können Sie widersprechen,
    ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen
    entstehen. Hierfür steht Ihnen der nachstehende Kontakt zur Verfügung:
  </p>

  <p>
    Bielefelder Unikat GmbH &amp; Co. KG<br />
    Goldbach 1<br />
    33615 Bielefeld
  </p>

  <p>
    <a
      href="mailto:bierbestellen@gmail.com?subject=Angaben%20zu%20personenbezogenen%20Daten"
      >datenschutz@Bielefelder Unikat.de</a
    ><br />
    Telefon: 0176/34 93 41 06
  </p>

  <h3>8. Empfänger der personenbezogenen Daten</h3>

  <p>
    Im Rahmen der gesetzlichen Befugnisse werden Ihre personenbezogenen Daten
    gegenüber folgenden Firmenoffengelegt:<br />
  </p>
  <ul>
    <li>
      Postdienstleister, Spediteure, Versanddienstleister,
      Akten-/Datenträgerentsorgung
    </li>
    <li>IT Dienstleister im Rahmen der Wartung und Softwarepflege</li>
    <li>
      Weitere Dienstleister im Rahmen der Zahlungsabwicklung, Bonitätsprüfung,
      Inkasso und Dialogmarketing.
    </li>
  </ul>

  <h3>9. Dauer der Datenspeicherung</h3>

  <p>
    Wir speichern Ihre Daten so lange, wie es der jeweilige Zweck erfordert.
    Entsprechende Löschkonzepte sind vorhanden und werden laufend den
    gesetzlichen sowie erforderlichen Gegebenheiten angepasst.
  </p>

  <p>Andernfalls ist die Verarbeitung der Daten eingeschränkt.</p>

  <h3>10. Betroffenenrechte</h3>

  <p>
    Ihre Rechte als Betroffener werden durch die Bielefelder Unikat umfassend
    gewährleistet.
  </p>

  <p>Informationspflichten gemäß Art. 13, 14 und 34:</p>
  <ul>
    <li>Recht auf Berichtigung Art. 16</li>
    <li>Recht auf Löschung Art. 17</li>
    <li>Recht auf Einschränkung der Verarbeitung Art.18</li>
    <li>Mitteilungspflicht gemäß Art. 19</li>
    <li>Recht auf Daten Übertragbarkeit gemäß Art. 20</li>
    <li>Widerspruchsrechte des Betroffenen gemäß Art. 21</li>
    <li>Auskunftsrecht der betroffenen Person gemäß Art. 15</li>
    <li>Beschwerderecht gegenüber Aufsichtsbehörden gemäß Art. 77.</li>
  </ul>

  <p>
    Sofern Sie uns gegenüber eines oder mehrere der vorstehend aufgelisteten
    Betroffenenrechte geltend machen, speichern wir diesen Umstand auf Grundlage
    von Artikel 6 Absatz 1 Buchstabe f) DSGVO. Dass wir die ordnungsgemäße
    Befolgung Ihres Anliegens in Zweifelsfällen auch nachweisen können, ist als
    berechtigtes Interesse im Sinne dieser Vorschrift anzusehen.
  </p>

  <p>
    <strong>Beschwerderechtbei der zuständigen Aufsichtsbehörde:</strong><br />
    Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein
    Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige
    Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der
    Landesdatenschutzbeauftragte des Bundeslandes NRW, in dem unser Unternehmen
    seinen Sitz hat. Sie erreichen die Behörde unter dem Link:
    <a href="https://www.ldi.nrw.de/">https://www.ldi.nrw.de/</a>
  </p>

  <h3>11. Kontakte: Wie kann ich meine vorstehenden Rechte ausüben?</h3>

  <p>
    Um Ihre Rechte wahrzunehmen, können Sie sich an den Datenschutzbeauftragten
    (s.o.) oder an den Verantwortlichen (s.o.) wenden.<br />
    Wir werden Ihre Anfragen umgehend sowie gemäß den gesetzlichen Vorgaben
    unentgeltlich bearbeiten und Ihnen mitteilen, welche Maßnahmen wir ergriffen
    haben.
  </p>

  <h3>12. Widerruf einer Einwilligung</h3>

  <p>
    Sie haben das Recht, eine Einwilligung in die Verarbeitung Ihrer Daten,
    welche Sie uns gegenüber erteilt haben, jederzeit zu widerrufen. Am
    einfachsten können Sie eine von Ihnen erteilte Einwilligung widerrufen,
    indem Sie sich per E-Mail an die oben genannten Kontaktdaten wenden. Der
    Widerruf der Einwilligung berührt nicht die Rechtmäßigkeit der bis zum
    Widerruf durchgeführten Verarbeitung Ihrer Daten. Bitte beachten Sie aber,
    dass damit vor einem erneuten Einkauf ggf. die erneute Angabe Ihrer Daten
    erforderlich wird.
  </p>

  <h3>13. Widerspruchsrecht</h3>

  <p>
    Sie haben das Recht jederzeit Widerspruch gegen die Verarbeitung Ihrer
    personenbezogenen Daten einzulegen.
  </p>

  <p>
    Falls Sie Widerspruch einlegen, verarbeiten wir Ihre personenbezogenen Daten
    in diesem Fall nicht mehr, es sei denn, wir können zwingende schutzwürdige
    Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und
    Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung,
    Ausübung oder Verteidigung von Rechtsansprüchen.
  </p>

  <p>
    Richten Sie Ihren Widerspruch bitte an
    <a href="mailto:bierbestellen@gmail.com">bierbestellen@gmail.com</a>.
  </p>

  <h3>14. Aktualisierung und Änderung</h3>

  <p>
    Die Datenschutzhinweise müssenvon Zeit zu Zeit an die tatsächlichen
    Verhältnisse und an die Rechtslage angepasst werden. Bitte überprüfen Sie
    jeweils die Datenschutzhinweisebevor Sie unser Angebot nutzen, um bei
    möglichen Änderungen oder Aktualisierungen auf dem neusten Stand zu sein.
  </p>

  <p>Stand: August 2021</p>
</main>
