<!--==================================================
Head
===================================================-->
<head th:fragment="head" th:with="title=${title} ?: 'Bielefelder Unikat'">
  <title th:text="${title}" />
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="./style.css" rel="stylesheet" />
  <link href="./fonts/fontawesome/css/all.css" rel="stylesheet" />
  <link rel="icon" th:href="@{/images/favicon.ico}" />
</head>

<!--==================================================
Header
===================================================-->
<header th:fragment="header">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Container -->
    <div class="container">
      <a href="#content" class="skip-link">Zum Inhalt</a>
      <!-- Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapse -->
      <div
        class="collapse navbar-collapse order-2 order-lg-0"
        id="navbarSupportedContent"
      >
        <!-- Nav -->
        <ul class="navbar-nav">
          <!-- Nav items -->
          <li class="nav-item">
            <a
              class="nav-link"
              href="/"
              th:classappend="${#request.requestURI == '/' ? 'active':''}"
              th:attr="aria-current=${#request.requestURI == '/' ? 'true':'false'}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/sortiment"
              th:classappend="${#request.getRequestURI().startsWith('/sortiment') ? 'active':''}"
              th:attr="aria-current=${#request.requestURI == '/sortiment' ? 'true':'false'}"
              >Sortiment</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Über uns
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="/history"
                  th:classappend="${#request.requestURI == '/history' ? 'active':''}"
                  th:attr="aria-current=${#request.requestURI == '/history' ? 'true':'false'}"
                  >Geschichte</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="/philosophy"
                  th:classappend="${#request.requestURI == '/philosophy' ? 'active':''}"
                  th:attr="aria-current=${#request.requestURI == '/philosophy' ? 'true':'false'}"
                  >Philosophie</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/contact"
              th:classappend="${#request.requestURI == '/contact' ? 'active':''}"
              th:attr="aria-current=${#request.requestURI == '/contact' ? 'true':'false'}"
              >Kontakt</a
            >
          </li>
          <li class="nav-item">
            <!--Login/Register/User button -->
            <div
              th:replace="fragments :: login-register-user-buttons (class='d-inline d-lg-none')"
            />
          </li>
        </ul>
      </div>

      <!-- Navbar brand -->
      <a
        class="
          navbar-brand
          order-0 order-lg-1
          position-absolute
          start-50
          translate-middle-x
        "
        href="/"
        ><img
          src="./images/Logo-Bielefelder-Unikat.svg"
          alt="Bielefelder Unikat"
          width="140"
      /></a>

      <!-- Navbar others -->
      <div class="navbar-others order-1 order-lg-3 d-flex justify-content-end">
        <!-- Login/Register/User button -->
        <div
          th:replace="fragments :: login-register-user-buttons (class='d-none d-lg-inline')"
        />

        <!-- Shopping cart -->
        <a
          class="btn btn-primary btn-sm position-relative"
          href="/shoppingcart"
          role="button"
        >
          <i class="fas fa-wine-bottle"></i
          ><span
            id="numOfBottles"
            class="
              position-absolute
              top-0
              start-0
              translate-middle
              badge
              rounded-pill
              bg-secondary
            "
            th:text="${shoppingcart.getAmountOfBottles()}"
          >
            <span class="visually-hidden">Bierflaschen im Warenkorb</span></span
          >
        </a>
      </div>
    </div>
  </nav>
</header>

<div th:fragment="emp_header">
  <a href="/employee_area"><h2>Mitarbeiterbereich</h2></a>
  <span class="dropdown">
    <!-- Employee account button -->
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fas fa-user-circle"></i>
      <i class="d-none d-md-inline" th:text="${loggedInEmp}"></i>
    </button>

    <ul
      class="dropdown-menu dropdown-menu-dark"
      aria-labelledby="dropdownMenuButton2"
    >
      <li><a class="dropdown-item" href="#">Mitarbeiterdaten</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/s3cr3tl0g0ut">Abmelden</a></li>
    </ul> </span
  ><br /><br />
</div>

<!--==================================================
Footer
===================================================-->
<footer th:fragment="footer">
  <!-- Divider -->
  <div
    th:replace="fragments :: divider (src='wappen-bielefeld.svg',alt='Bielefelder Wappen',width='80')"
  ></div>

  <!-- Title -->
  <h6 class="title display-2 mb-5 text-muted">
    Glück kann man <br />nicht kaufen, aber&nbsp;Bier.
  </h6>

  <!-- Social media -->
  <div class="text-center display-5 mb-4">
    <a
      href="https://de-de.facebook.com/"
      target="_blank"
      title="Facebook"
      class="me-1"
      ><i class="fab fa-facebook-square"></i
    ></a>
    <a
      href="https://twitter.com/?lang=de"
      target="_blank"
      title="Twitter"
      class="me-1"
      ><i class="fab fa-twitter-square"></i
    ></a>
    <a
      href="https://www.instagram.com/"
      target="_blank"
      title="Instagram"
      class="me-1"
      ><i class="fab fa-instagram-square"></i
    ></a>
    <a
      href="https://www.youtube.com/?hl=de&gl=de"
      target="_blank"
      title="YouTube"
      class="me-1"
      ><i class="fab fa-youtube-square"></i
    ></a>
    <a
      href="https://www.pinterest.de/"
      target="_blank"
      title="Pinterest"
      class="me-1"
      ><i class="fab fa-pinterest-square"></i
    ></a>
    <a href="mailto:bierbestellen@gmail.com" title="E-Mail"
      ><i class="fas fa-envelope-square"></i
    ></a>
  </div>

  <!-- Legal -->
  <div class="text-center text-muted legal">
    <p>
      Copyright © 2021 Bielefelder Unikat. Alle Rechte vorbehalten.<br />
      <a href="/impressum" class="text-decoration-none me-2 text-white-50"
        >Impressum</a
      >
      <a href="/datenschutz" class="text-decoration-none me-2 text-white-50"
        >Datenschutz</a
      >
      <a href="/agb" class="text-decoration-none text-white-50">AGB</a>
    </p>
  </div>
</footer>

<!--==================================================
Divider
===================================================-->
<div
  th:fragment="divider"
  th:with="src=${src},alt=${alt},width=${width}"
  class="divider-wrapper d-flex justify-content-center"
  role="separator"
>
  <div class="divider-content px-4 py-5 bg-dark">
    <img th:src="'./images/' + ${src}" th:alt="${alt}" th:width="${width}" />
  </div>
</div>

<!--==================================================
Login/Register/User Buttons
===================================================-->
<!-- Is user already loggedin? -->
<div
  th:fragment="login-register-user-buttons"
  th:switch="${loggedInUser.isEmpty()}"
  th:with="class=${class}"
  th:class="${class}"
>
  <!-- No -->
  <span th:case="${true}">
    <!-- Login button -->
    <a href="/login" class="btn btn-outline-primary btn-sm" role="button"
      >anmelden</a
    >

    <!-- Register button -->
    <a href="/register" class="btn btn-primary btn-sm me-4" role="button"
      >registrieren</a
    >
  </span>

  <!-- Yes -->
  <span th:case="${false}" class="dropdown">
    <!-- User account button -->
    <button
      class="btn btn-secondary dropdown-toggle me-4"
      type="button"
      id="dropdownMenuButton2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fas fa-user-circle"></i>
      <i class="d-none d-md-inline" th:text="${loggedInUser}"></i>
    </button>

    <ul
      class="dropdown-menu dropdown-menu-dark"
      aria-labelledby="dropdownMenuButton2"
    >
      <li><a class="dropdown-item" href="/account">Kundendaten</a></li>
      <li><a class="dropdown-item" href="/my_orders">Bestellungen</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/logout">Abmelden</a></li>
    </ul>
  </span>
</div>

<!--==================================================
Scripts
===================================================-->
<div th:fragment="scripts">
  <!-- Bootstrap JavaScript -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script>
    const rotate = (el) =>
      el.getAttribute("style") !=
      "transform: rotate(360deg); transition:all 0.75s"
        ? el.setAttribute(
            "style",
            "transform: rotate(360deg); transition:all 0.75s"
          )
        : el.setAttribute(
            "style",
            "transform: rotate(0deg); transition:all 0.75s"
          );
  </script>
</div>

<!--==================================================
ScriptAddToCart
===================================================-->
<div th:fragment="scriptAddToCart">
  <script th:inline="javascript">
    document
      .getElementById("addToCart[[${product.id}]]")
      .addEventListener("click", function () {
        rotate(this);
        fetch(
          "addProductToCart?productID=[[${product.id}]]&quantity=" +
            document.getElementById("quantity[[${product.id}]]").value,
          {
            mode: "no-cors",
          }
        );
        document.getElementById("numOfBottles").innerText =
          parseInt(document.getElementById("numOfBottles").innerText) +
          parseInt(document.getElementById("quantity[[${product.id}]]").value);
      });
  </script>
</div>

<!--==================================================
ScriptFormValidation
===================================================-->
<div th:fragment="scriptFormValidation">
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      "use strict";

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll(".needs-validation");

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener(
          "submit",
          function (event) {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add("was-validated");
          },
          false
        );
      });
    })();
  </script>
</div>
