<head th:fragment="head" th:with="title=${title} ?: 'Bielefelder Unikat'">
  <title th:text="${title}" />
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="./style.css" rel="stylesheet" />
  <link href="./fonts/fontawesome/css/all.css" rel="stylesheet" />
  <link rel="icon" th:href="@{/images/favicon.ico}" />
</head>

<header class="" th:fragment="header">
  <div class="row">
    <div class="col-5">
      <div class="d-flex justify-content-start">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Kontakt</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Geschichte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sortiment">Sortiment</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="col-2">
      <div class="d-flex justify-content-center">
        <a class="navbar-brand" href="/">
          <img
            src="./images/Logo-Bielefelder-Unikat.svg"
            alt="Bielefelder Unikat"
            width="140"
            height="69"
          />
        </a>
      </div>
    </div>
    <div class="col-5">
      <div class="d-flex justify-content-end">
        <span th:switch="${loggedInUser.isEmpty()}">
          <span th:case="${true}">
            <div><a href="/login">anmelden</a></div>
            <div><a href="/register">registrieren</a></div>
          </span>

          <span th:case="${false}" class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user-circle"></i>
              <i class="d-none d-md-inline" th:text="${loggedInUser}"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="dropdownMenuButton2"
            >
              <li><a class="dropdown-item" href="#">Account</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/logout">Abmelden</a></li>
            </ul>
          </span>
        </span>
        <a class="btn btn-primary" href="/shoppingcart" role="button">
          <i class="fas fa-wine-bottle"></i>
        </a>
      </div>
    </div>
  </div>
</header>

<footer class="d-flex justify-content-between" th:fragment="footer">
  <span>© Copyright Bielefelder Unikat. All Rights reserved.</span>
  <span>You can't buy happiness, but you can buy beer.</span>
  <a href="/impressum">Impressum</a>
</footer>

<div th:fragment="scripts">
  <!-- Bootstrap JavaScript -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</div>
