<main th:fragment="history">
  <!-- Title -->
  <h1 class="title display-1">
    „Tradition, Treue und Trunkenheit“<br />– TTT –
  </h1>

  <!-- Text -->
  <div class="row justify-content-center align-items-center">
    <div class="col col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
      <p class="fs-1 text-primary lh-sm mb-5">
        Das Bielefelder Viadukt, nein, die Pfeiler unserer Historie, das UNIkat
        Bielefelds.
      </p>

      <p class="initial-letter">
        Fünf Studenten, während des Studiums gerne benebelt von den Genüssen des
        Biermarktes, haben über ihr Studium immer das Gefühl gehabt, dass das
        doch nicht alles sein kann, was der Biermarkt zu bieten hat. Am Ende
        ihres aufstrebenden Studiums entschieden sie sich dann dazu, dass sie
        sich selbst am Bierbrauen probieren wollen. Traditionelles gepaart mit
        dem Studentenlifestyle, das war das Ziel, welches zu erfüllen war.
        Hieraus wurden die Grundsteine des Bielefelder Unikats im Jahre 2016
        gelegt.
      </p>
      <p>
        Gestartet ist das kleine Bielefelder Unternehmen mit dem Erforschen des
        beliebtesten Biergeschmackes, natürlich war dies eine Umfrage an den
        Bielefelder Universitäten. An dieser Umfrage haben die verschiedensten
        Bereiche und Studenten teilgenommen und das Ergebnis dieser Umfrage
        führte zu dem neuesten Wunder der Bierbraukunst - zu unserem
        Sparrenpils. Der Wunsch nach einem hopfigen und malzigen Biergeschmack
        stach aus der Umfrage klar hervor, aber auch der Alkoholgehalt sollte
        nicht zu kurz kommen, kein seichtes Wässerchen, sondern der Edeltropfen
        des Getreide-Hanf-Gebräus.
      </p>
      <p>
        Da Tradition großgeschrieben wird, wurde penibelst nach Reinheitsgebot
        gebraut, jedoch mit der nötigen Reife, Aufmerksamkeit und dem gewissen
        Extra an Liebe. Der Standort in Bielefeld wurde ebenfalls mit Bedacht
        gewählt, da die Bielefelder Traditionsfirmen sich prunkvoll in der
        Skyline absetzen und sich so ihre herausragenden Namen verdienten, man
        denke nur an Dr. Oetker, Miele, Dr. Wolff.
      </p>
      <p>
        Wir stehen solidarisch mit dem Ostwestfalen für unsere Kultur und unser
        Leben ein. Wir genießen das Weizen am Abend bzw. zu Feierabend, das Pils
        im Stadion – klar nur auf der Alm oder auch mal beim geselligen
        Familienabend das Radler als Fahrer. Die Bielefelder Kultur hat viel zu
        bieten und wir glorifizieren diese Kultur, hoch oben auf der
        Sparrenburg, feiernd auf dem Leineweber, Naturgenuss am Viadukt bzw. dem
        Obersee, Bielefeld ist sein ganz eigenes Paradies.
      </p>
      <p>
        Genau diese Treue spüren wir in jeder Zelle unseres Körpers. Ein
        Bielefelder steht zu seiner Stadt, sei es bei den Arminen in der 1.
        Fußballbundesliga oder auch in der Kreisliga – Armine bleibt Armine,
        aber auch bei der Heimatverbundenheit, man kann den Bielefelder aus
        Bielefeld bekommen, aber nicht Bielefeld aus dem Bielefelder! Die Treue
        zu einem echten Bier ist wie die Hochzeit von sich Liebenden, im Guten
        wie im Schlechten, in Zorn und in Liebe, man bleibt seinem Glück treu.
      </p>
      <p>
        Trunkenheit, ein Wort, welches gemischte Gefühle hervorruft. Ganz klar
        ist zu betonen, dass kein nonchalanter Umgang mit Alkohol gefeiert wird,
        es gilt klar seine Grenzen zu kennen und die rechtlichen und legalen
        Vorgaben einzuhalten. Wir sprechen bei der Trunkenheit von der
        Gemeinschaft, von einer Verbindung, die es ohne das Bier nicht geben
        würde. Betrunken sagt man immer die Wahrheit und wir versprechen euch,
        dass wir immer die Wahrheit sagen, ob im Trunke oder ohne. Ein Bier mit
        Freunden – man sagt es nicht umsonst oder schon mal „eine Fanta mit
        Freunden“ gehört? Dieses Bier verbindet die Geister in uns und hebt uns
        auf eine Ebene, welche nicht so einfach zu erklären ist. Bier für den
        Weltfrieden? So weit wollen wir nicht gehen, aber immerhin einen wir nun
        seit einem halben Jahrzehnt die Bielefelder, wer weiß was noch kommen
        mag.
      </p>
      <p>
        Um mehr über das Bier zu erfahren, empfehlen wir bei der Bierphilosophie
        vorbeizuschauen – Erscheinungsjahre, Geschmack und wieso, weshalb, warum
      </p>
    </div>
  </div>
</main>
