<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments :: head(title='Geschichte')"></div>
  <body>
    <div class="container-fluid">
      <div th:replace="fragments :: header"></div>
      <!--==================================================
      START CONTENT
      ===================================================-->
      <main>
        
      </main>
      <!--==================================================
      END CONTENT
      ===================================================-->
      <div th:replace="fragments :: footer"></div>
    </div>
    <div th:replace="fragments :: scripts"></div>
  </body>
</html>