<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: head"></div>
<body>
    <div th:replace="fragments :: header"></div>
    <!--==================================================
    START CONTENT
    ===================================================-->
    <main>
        <i class="far fa-abacus"></i>
    </main>
    <!--==================================================
    END CONTENT
    ===================================================-->
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: scripts"></div>
</body>
</html>