<main th:fragment="img_upload">
  <div th:replace="fragments :: emp_header" />
  <h2>Bildupload</h2>
  <style>
    input[type="file"]::file-selector-button {
      color: #212025;
      background-color: #f9ab26;
      border-color: #f9ab26;
    }
  </style>
  <input id="imgUpload" type="file" name="imgUpload" />
  <button id="upload-button" class="btn btn-primary" onclick="uploadFile()">
    Upload
  </button>

  <script>
    async function uploadFile() {
      let formData = new FormData();
      formData.append("img", imgUpload.files[0]);
      let response = await fetch("/upload", { method: "POST", body: formData });
      if (response.status == 200) {
        alert(
          "Hochladen erfolgreich!\nDateipfad: .\\images\\" +
            imgUpload.files[0].name
        );
      }
    }
  </script>
</main>
