<main th:fragment="impressum">
  <!-- Title -->
  <h1 class="title display-1">Unser<br />Kleingedrucktes.</h1>

  <!-- Divider -->
  <div
    th:replace="fragments :: divider (src='wappen-sparrenburg.svg',alt='Sparrenburg Wappen',width='60')"
  ></div>

  <h2 class="text-center mb-5">Anbieter und verantwortlich für den Inhalt</h2>

  <div class="row">
    <div class="col-lg-4">
      <h6>Bielefelder Unikat GmbH &amp; Co. KG</h6>
      <p>
        Goldbach 1<br />
        33615 Bielefeld<br />
      </p>
      <p>
        Registergericht: Bielefeld HRA 3269<br />
        UST-ID-Nr: DE 123 456 789
      </p>

      <h6>Kontakt</h6>
      <p>
        Telefon: <a href="tel:+4917634934106">0176/34 93 41 06</a><br />
        Telefax: 0176/34 93 41 07<br />
        E-Mail:
        <a href="mailto:bierbestellen@gmail.com">bierbestellen@gmail.com</a
        ><br />
      </p>

      <h6>Geschäftsführer</h6>
      <p>
        Pascal Bringer, Sven Hädrich, Lukas Kröker, Jens Trautmann und Kasimir
        Eckhardt
      </p>
    </div>

    <div class="col-lg-7 offset-lg-1">
      <h3>Rechtlicher Hinweis</h3>
      <p>
        Alle Texte, Fotos und Gestaltungselemente dieser Website sind - sofern
        nicht ein anderes Copyright angegeben ist - für das Bielefelder Unikat
        urheberrechtlich geschützt. Jede Verwertung außerhalb der engen Grenzen
        des Urheberrechtsgesetzes ist ohne Zustimmung der Krombacher Brauerei
        unzulässig und strafbar. Für den Inhalt externer Seiten, auf die wir
        verlinken, liegt die alleinige Verantwortung beim jeweiligen Anbieter.
      </p>

      <h3>Plattform zur Online-Streitbeilegung</h3>
      <p>
        Die Europäische Kommission stellt eine Plattform zur
        Online-Streitbeilegung (OS-Plattform) unter dem Link
        <a href="http://ec.europa.eu/consumers/odr"
          >http://ec.europa.eu/consumers/odr</a
        >
        bereit. Zur Teilnahme an einem Streitbeilegungsverfahren vor einer
        Verbraucherschlichtungsstelle sind wir nicht verpflichtet und nicht
        bereit.
      </p>
    </div>
  </div>

  <!-- 
  <div class="row">
    <div class="col-lg-4">
      <h4>Bielefelder Unikat GmbH &amp; Co. KG</h4>
      <p>
        Postfach 760, 57215 Kreuztal<br />
        Hausanschrift:<br />
        Hagener Straße 261<br />
        57223 Kreuztal-Krombach<br />
        UST-ID-Nr: DE 123 456 789<br />
      </p>
    </div>
    <div class="col-lg-4">
      <h4>Kontakt</h4>
      <p>
        <a href="tel:+4917634934105">Telefon: 0176/34 93 41 05</a><br />
        Telefax: 0176/34 93 41 06
      </p>
      <h6>Fragen und Anregungen schicken Sie bitte an:
      </h6>
      <p>
        <a href="mailto:bierbestellen@gmail.com">bierbestellen@gmail.com</a><br />
        Servicetelefon: <a href="tel:+4917634934107">0176/34 93 41 07</a>
      </p>
    </div>
    <div class="col-lg-4">
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h4>Kommanditgesellschaft</h4>
      <p>
        Sitz: 57223 Kreuztal<br />
        Registergericht: Siegen HRA 3269
      </p>
    </div>
    <div class="col-lg-4">
      <h4>Persönlich haftende Gesellschafterin:</h4>
      <p>
        Krombacher Brauerei Verwaltungs GmbH<br />
        Sitz: 57223 Kreuztal<br />
        Registergericht: Siegen HRB 9080
      </p>
    </div>
    <div class="col-lg-4">
      <h4>Geschäftsführer:</h4>
      <p>
        Pascal Bringer, Sven Hädrich, Lukas Kröker, Jens Trautmann und Kasimir Eckhardt
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h3>Rechtlicher Hinweis</h3>
      <p>
        Alle Texte, Fotos und Gestaltungselemente dieser Website sind - sofern
        nicht ein anderes Copyright angegeben ist - für das Bielefelder Unikat
        urheberrechtlich geschützt. Jede Verwertung außerhalb der engen Grenzen
        des Urheberrechtsgesetzes ist ohne Zustimmung der Krombacher Brauerei
        unzulässig und strafbar. Für den Inhalt externer Seiten, auf die wir
        verlinken, liegt die alleinige Verantwortung beim jeweiligen Anbieter.
      </p>
    </div>
    <div class="col-lg-6">
      <h3>Plattform zur Online-Streitbeilegung</h3>
      <p>
        Die Europäische Kommission stellt eine Plattform zur
        Online-Streitbeilegung (OS-Plattform) unter dem Link
        <a href="http://ec.europa.eu/consumers/odr"
          >http://ec.europa.eu/consumers/odr</a
        >
        bereit. Zur Teilnahme an einem Streitbeilegungsverfahren vor einer
        Verbraucherschlichtungsstelle sind wir nicht verpflichtet und nicht
        bereit.
      </p>
    </div>
  </div>
-->
  <!-- 
  <h1>Impressum</h1>
  <div>
    <p>
      Inhaber <strong>Bielefelder Unikat</strong> und verantwortlich für diese
      Website:<br />
      <br />
      Betriebssitz:<br />
      Kupferhammer<br />
      33649 Bielefeld<br /><br />
      
      Umsatzsteuer-ID: DE123456789
    </p>
  </div>
  -->
</main>
