<main th:fragment="impressum">
  <!-- Title -->
  <h1 class="title display-1">Das<br />Kleingedruckte.</h1>

  <!-- Divider -->
  <div
    th:replace="fragments :: divider (src='wappen-sparrenburg.svg',alt='Sparrenburg Wappen',width='60')"
  ></div>

  <!-- Content -->
  <h3>Bielefelder Unikat GmbH &amp; Co. KG</h3>
  <p>
    Goldbach 1<br />
    33615 Bielefeld<br />
  </p>
  <p>
    Registergericht: Bielefeld HRA 3269<br />
    UST-ID-Nr: DE <span class="no-link">123 456 789</span>
  </p>

  <h3>Kontakt</h3>
  <p>
    Telefon: <a href="tel:+4917634934106">0176/34 93 41 06</a><br />
    Telefax: 0176/34 93 41 07<br />
    E-Mail:
    <a href="mailto:bierbestellen@gmail.com">bierbestellen@gmail.com</a><br />
  </p>

  <h3>Geschäftsführer</h3>
  <p>
    Pascal Bringer, Sven Hädrich, Lukas Kröker, Jens Trautmann und Kasimir
    Eckhardt
  </p>

  <h3>Rechtlicher Hinweis</h3>
  <p>
    Alle Texte, Fotos und Gestaltungselemente dieser Website sind - sofern nicht
    ein anderes Copyright angegeben ist - für das Bielefelder Unikat
    urheberrechtlich geschützt. Jede Verwertung außerhalb der engen Grenzen des
    Urheberrechtsgesetzes ist ohne Zustimmung der Krombacher Brauerei unzulässig
    und strafbar. Für den Inhalt externer Seiten, auf die wir verlinken, liegt
    die alleinige Verantwortung beim jeweiligen Anbieter.
  </p>

  <h3>Plattform zur Online-Streitbeilegung</h3>
  <p>
    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung
    (OS-Plattform) unter dem Link
    <a href="http://ec.europa.eu/consumers/odr"
      >http://ec.europa.eu/consumers/odr</a
    >
    bereit. Zur Teilnahme an einem Streitbeilegungsverfahren vor einer
    Verbraucherschlichtungsstelle sind wir nicht verpflichtet und nicht bereit.
  </p>
</main>
