<main th:fragment="my_orders">
  <table class="table caption-top">
    <caption>
      <strong>Meine Bestellungen:</strong>
    </caption>
    <tr>
      <th scope="col" th:text="'Bestellnummer'" />
      <th scope="col" th:text="'Datum'" />
      <th scope="col" th:text="'Zeit'" />
      <th scope="col" th:text="'Gesamtpreis'" />
      <th scope="col" th:text="'Bestellstatus'" />
    </tr>
    <div th:each="order: ${orders}">
      <tr>
        <td th:text="${order.id}" />
        <td th:text="${order.orderDate}" />
        <td th:text="${order.orderTime}" />
        <td th:text="${order.totalPrice} + ' €'" />
        <td th:text="${order.status}" />
      </tr>
      <tr>
        <th scope="col" th:text="'Bestellposition'" />
        <th scope="col" th:text="'Artikelnummer'" />
        <th scope="col" th:text="'Anzahl'" />
      </tr>
      <tr th:each="orderPosition: ${orderPositions}">
        <td th:if="${orderPosition.orderID == order.id}" th:text="${orderPosition.posNr}" />
        <td th:if="${orderPosition.orderID == order.id}" th:text="${orderPosition.productID}" />
        <td th:if="${orderPosition.orderID == order.id}" th:text="${orderPosition.quantity}" />
      </tr>
    </div>
  </table>
</main>