<main th:fragment="password_reset">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col col-sm-10 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
      <!-- Brand -->
      <a class="text-center my-4 d-block" href="/"
        ><img
          src="./images/Logo-Bielefelder-Unikat.svg"
          alt="Bielefelder Unikat"
          width="140"
      /></a>

      <!-- Box -->
      <div class="border rounded-3 mt-5 mb-3 px-5 py-3">
        <!-- Title -->
        <h1 class="text-center mb-5 display-4">Passwort zurücksetzen</h1>

        <!-- Form -->
        <form
          action="#"
          th:action="@{/password_reset}"
          method="post"
          class="needs-validation"
          novalidate
        >
          <!-- Email -->
          <div class="mb-3">
            <label for="inputEmail" class="form-label">E-Mail</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              autofocus
              required
            />
            <div class="invalid-feedback">Bitte eine E-Mail eintragen.</div>
          </div>

          <!-- Submit -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary mb-5">
              Zurücksetzen
            </button>
          </div>
        </form>

        <!-- Hinweis -->
        <p class="text-muted legal" style="font-size: 0.8rem">
          *Wir senden dir ein temporäres Passwort zu. Du solltest dies so
          schnell wie Möglich zu deiner Sicherheit in den Kundendaten ändern.
        </p>
      </div>

      <!-- Legal -->
      <div class="text-center text-muted legal">
        <p>
          <a href="/impressum" class="text-decoration-none me-2 text-white-50"
            >Impressum</a
          >
          <a href="/datenschutz" class="text-decoration-none me-2 text-white-50"
            >Datenschutz</a
          >
          <a href="/agb" class="text-decoration-none text-white-50">AGB</a>
        </p>
      </div>
    </div>
  </div>

  <div th:replace="fragments :: scriptFormValidation" />
</main>
