<main th:fragment="philosophy">
  <!-- Title -->
  <h1 class="title display-1">
    Unsere Philosophie
  </h1>

  <!-- Text -->
  <div class="row justify-content-center align-items-center">
    <div class="col col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
      <p class="fs-1 text-primary lh-sm mb-5">
        Bier, das wohlschmeckende Getreide-Hanf-Gebräu, versucht seit
        Jahrhunderten zu perfektionieren.
      </p>

      <p class="initial-letter">
        Eine Art der Perfektion streben wir an, klar ist jedoch, dass diese
        Perfektion nur von dem erfasst wird, in dem das Blut des Ostwestfalen
        fließt, genauer das Herz eines wahren Bielefelders schlägt. Unser Bier
        ist vom feinen Geschmack des Studenten abgesegnet, wir streben aber
        weiterhin auch die Umgarnung jedes Einzelnen an.
      </p>

      <h2>DAS SPARRENPILS:</h2>
      <p>
        Entstehung: 2016 – in Verbindung mit ausgiebiger Forschung zu dem besten
        Geschmack für ein Studentenbier.
      </p>
      <p>
        Geschmack: Die typische herbe Note eines Pils, im Abgang eine hopfige
        und malzige Note. Ausgewogen im Geschmack, Liebhaber kommen auf ihren
        Genuss, Gelegenheitsgenießer werden nicht enttäuscht.
      </p>
      <p>
        Geschichte: Warum dieses Bier entstand, ist leicht erklärt. Man trifft
        sich auf einer der vielen Studentenpartys, Bier wird natürlich vom
        Gastgeber nach guter Manier gestellt, der ein oder andere bringt aber
        trotzdem noch seine Lieblingsmarke mit. Hier fehlte uns die
        Gemeinschaft, die Verbundenheit und auch der gute Geschmack EINES
        Bieres. Wir begaben uns auf die Suche nach der Geschmacksentfaltung,
        welche jedem schmeckt. Nach vier Monaten intensiver Auswertungen von
        Umfragen und hunderten von eingereichten Texten, konnten wir in unserer
        kleinen privaten Brauerei die ersten Versuche unternehmen. Natürlich war
        dies nicht nur von Erfolg gekrönt und wir mussten das eine oder andere
        angewiderte Gesicht ertragen, wenn wir unser Gebräu probierten. Nach
        weiteren fünf Monaten und unzähligen durchgearbeiteten Nächten stand es
        da, das Pils, welches, ohne die eingereichten Texte zu lesen, diese
        genauestens verkörperte. Unser Sparrenpils konnte nun seinen Namen
        prunkvoll in die Welt tragen und kam gleich auch im September 2016,
        passend zum neuen Semesterstart in den Handel.
      </p>

      <h2>DIE STUDENTENBRAUSE:</h2>
      <p>
        Entstehung: 2017 – die Studenten kommen von ihrem Forschungsalltag nicht
        weg
      </p>
      <p>
        Geschmack: Eine Mischung aus Zitrone und Limette, leichter Hauch von
        Bergquellwasser und das wohlmundende Sparrenpils, die optimale
        Bier-Limo-Mischung. Süß und trotzdem herb, malzig und trotzdem fruchtig.
      </p>
      <p>
        Geschichte: Nach dem raketenhaften Aufstieg des Sparrenpils machten wir
        mit unseren Studien direkt weiter und erstellen noch ein weiteres
        Meisterwerk. Die Idee zu der Studentenbrause kam uns auf einer
        Benefizveranstaltung, organisiert von Studenten, auf welcher unser
        Sparrenpils in rauen Mengen floss, jedoch das Radler, eine Mischung aus
        Sparrenpils und einfacher Limonade, welches angeboten wurde, einem
        geschmacklichen Desaster gleichkam. Wir setzten uns am nächsten Morgen,
        leicht verkatert, direkt an unsere Schreibtische und steckten die Köpfe
        zusammen, um die passende Rezeptur zu finden. Im August 2017 entstand
        die Idee, im November 2017 konnten wir dann die perfekte Mischung
        herstellen. Probanden überzeugte es nicht nur, sie flehten uns gar an,
        sofort mit der Produktion zu beginnen. Anfang Dezember stand dann auch
        die Studentenbrause im Handel bereit.
      </p>

      <h2>DER ALMJUBLER:</h2>
      <p>
        Entstehung: 2020 – Arminias Aufstieg in die Erstklassigkeit und ein
        Salut an diesen
      </p>
      <p>
        Geschmack: Leicht säuerlich und die prickelnde Kohlensäure; sämiger,
        aromatischer und süffiger Hefegeschmack. Trüber Tropfen Gold. Eine lange
        Reife führt zum optimalen Weizengeschmack.
      </p>
      <p>
        Geschichte: Wir sitzen am letzten Spieltag gegen Heidenheim im Stadion,
        natürlich in der Schüco Arena, für uns auf Lebzeiten die Alm, seit
        Spieltag 15 auf Platz 1, nach Spieltag 32 wieder erstklassig. 14.
        Spielminute Fabian Klos mit einem wunderschönen Tor mit der Hacke zum
        1:0, die Arena bebt und nur 3 Minuten später legt Andreas Voglsammer,
        wieder nach Vorlage von Marcel Hartel, mit schönem Rechtschuss nach,
        2:0. Die Fans singen, feiern und schunkeln zusammen. Uns steht die
        Gänsehaut ins Gesicht geschrieben und da packt es uns, wir sprechen es
        fast gleichzeitig aus „ein Salut auf diese Saison mit einem Hefeweizen –
        dem Almjubler“. Wir begeben uns direkt an den Brauprozess und schaffen
        im frühen Herbst 2020 unser erstes Almjubler.
      </p>

      <h2>RAVENSBERGER SPINNEREI:</h2>
      <p>Entstehung: 2021 – Wir spinnen rum und das Versehen ist perfekt</p>
      <p>
        Geschmack: der Geschmack vom Almjubler (sämig, aromatisch und süffig)
        trifft auf die Süße von ostasiatischen Bananen. Natürlich wird der
        Bananensaft komplett selbst hergestellt – Geheimrezept
        miteingeschlossen.
      </p>
      <p>
        Geschichte: Mit den Anfängen des Almjublers saßen wir im Ravensberger
        Park und genossen die sommerlichen Sonnenstrahlen. Wir schnackten nett
        mit um uns sitzenden Studenten und Besuchern, da sprach uns ein älterer
        Herr aus dem tiefen Bayern an, ob wir denn noch ein Weizen überhätten,
        selbstverständlich, wir genossen noch einen kurzen Plausch, in dem er
        von den ganzen Weizensorten von zuhause erzählte. Als wir wieder unter
        uns waren, sponnen wir seinen Gedanken noch weiter und kamen auf unseren
        Wunsch eines Weizenmischgetränkes – Banane bot sich für uns am meisten
        an. In den nächsten Wochen hatten wir mehrere Seminare in Supermärkten,
        welche uns zu dem optimalen Bananengeschmack und einer guten Reife
        schulten. Wir nahmen Kontakt zu einem Lieferanten auf, welcher uns
        Premium-Bananen lieferte, hieraus wurden die ersten Bananensäfte. Wir
        verfeinerten die Zubereitung, mixten den Almjubler in filigraner
        Mischmenge unter und erzielten nach dreimonatiger Arbeit dann das
        passende Weizen-Bananen-Verhältnis. Im Juni 2021 entstand die Idee und
        im August 2021 stand unsere Ravensberger Spinnerei auch schon im Laden.
      </p>
    </div>
  </div>
</main>
