<main th:fragment="product">
  <!-- declares product for productpage -->
  <div class="row g-5 justify-content-center">
    <!-- Product image -->
    <div
      class="
        col-8 col-md-5 col-lg-4 col-xl-3
        d-flex
        align-items-center
        justify-content-center
      "
    >
      <img
        alt="Produktbild"
        th:src="@{${product.imgURL}}"
        class="img-fluid w-75"
      />
    </div>

    <!-- Name and description -->
    <div class="col-12 col-md-7 col-lg-8 col-xl-5">
      <h1 class="display-2 mb-5 text-break" th:text="${product.name}" />
      <p class="initial-letter" th:text="${product.description}" />

      <!-- Price -->
      <p class="mx-auto">
        <span
          class="text-price"
          th:text="${#numbers.formatDecimal(product.price, 1, 2, 'COMMA')} + ' € '"
        />
        <span class="text-vat text-muted mb-2">inkl. MwSt.</span>
      </p>

      <div class="input-group flex-nowrap mb-3">
        <!-- Textfeld für Eingabe der Anzahl -->
        <input
          th:id="'quantity' + ${product.id}"
          type="number"
          class="form-control"
          min="1"
          max="2400"
          step="1"
          value="1"
          aria-label="Quantity"
          aria-describedby="button-addon2"
        />

        <!-- Button zum Warenkorb hinzufügen -->
        <button
          th:id="'addToCart' + ${product.id}"
          class="btn btn-primary"
          type="button"
          id="button-addon2"
        >
          In die Bierkiste
        </button>
      </div>
    </div>

    <!-- Ingriedients -->
    <div class="col-12 col-xl-3 offset-xl-1 d-flex align-items-end">
      <table class="table table-ingredients">
        <tr>
          <td>
            <span class="text-key">Typ</span>
            <span class="text-value" th:text="${product.type}" />
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Volumen</span>
            <span
              class="text-value"
              th:text="${#numbers.formatDecimal(product.amount / 1000.0, 1, 3, 'COMMA')} + ' l'"
            />
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Alkohol</span>
            <span class="text-value">4,3 % vol.</span>
          </td>
        </tr>

        <tr>
          <td>
            <span class="text-key">Stammwürze</span>
            <span class="text-value">18,9 % mas.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Brauart</span>
            <span class="text-value">Untergärig</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Bittereinheiten</span>
            <span class="text-value">27 EBC</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Zutaten</span>
            <span class="text-value"
              >Brauwasser, Gerstenmalz, Hopfenauszüge</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Verfügbarkeit</span>
            <span class="text-value"
              ><i class="fas fa-circle text-success"></i> Sofort lieferbar</span
            >
          </td>
        </tr>
      </table>
    </div>

    <div th:replace="fragments :: scriptAddToCart" />
  </div>
</main>
