<main th:fragment="product">
  <!-- Title -->
  <h1 class="title display-1">Genau&nbsp;dein&nbsp;Bier<br /></h1>

  <!-- Divider -->
  <div
    th:replace="fragments :: divider (src='wappen-sparrenburg.svg',alt='Sparrenburg Wappen',width='60')"
  ></div>

  <!-- declares product for productpage -->
  <div class="row">
    <!-- Product image -->
    <div class="col col-lg-2">
      <img
        alt="Produktbild"
        th:src="@{${product.imgURL}}"
        class="img-fluid w-75"
      />
    </div>

    <!-- Name and description -->
    <div class="col-md-5 col-lg-5 offset-lg-1">
      <p class="text-muted" th:text="${product.type}" />
      <h2 class="display-2" th:text="${product.name}" />
      <p class="description" th:text="${product.description}" />
    </div>

    <!-- Ingriedients -->
    <div class="col-md-6 col-lg-3 offset-lg-1">
      <table class="table table-ingredients">
        <tr>
          <td>
            <span class="text-key">Volumen</span>
            <span
              class="text-value"
              th:text="${product.amount / 1000.0} + ' l'"
            />
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Alkohol</span>
            <span class="text-value">4,3 % vol.</span>
          </td>
        </tr>

        <tr>
          <td>
            <span class="text-key">Stammwürze</span>
            <span class="text-value">18,9 % mas.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Brauart</span>
            <span class="text-value">Untergärig</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Bittereinheiten</span>
            <span class="text-value">27 EBC</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Zutaten</span>
            <span class="text-value"
              >Brauwasser, Gerstenmalz, Hopfenauszüge</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-key">Verfügbarkeit</span>
            <span class="text-value"
              ><i class="fas fa-circle text-success"></i> Sofort lieferbar</span
            >
          </td>
        </tr>
      </table>

      <!-- Price -->
      <span
        class="text-price mx-auto mb-1"
        th:text="${#numbers.formatDecimal(product.price, 1, 2, 'COMMA')}"
      />
      <span class="text-vat mx-auto mb-2">€ inkl. MwSt.</span>

      <!-- Button zum Warenkorb hinzufügen -->
      <button
        th:id="'addToCart' + ${product.id}"
        class="btn btn-primary mx-auto"
      >
        In die Bierkiste legen
      </button>
    </div>

    <div th:replace="fragments :: scriptAddToCart" />
  </div>
</main>
