<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments :: head"></div>
  <body th:switch="${emailAlreadyRegistered}">
    <div th:replace="fragments :: header"></div>
    <div class="container-fluid">
      <span th:case="false">
        Herzlich Willkommen
        <span th:text="${customer.firstname + ' ' + customer.lastname + ','}" />
        deine Registrierung war erfolgreich.
      </span>
      <span th:case="true">
        Es gibt bereits ein Nutzerkonto mit der E-Mail-Adresse
        <span th:text="${customer.email + '.'}" />
      </span>
      <span th:case="*">ERROR! Das hätte nicht passieren dürfen!</span>
    </div>
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: scripts"></div>
  </body>
</html>