<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: head"></div>
<body>
    <div th:replace="fragments :: header"></div>

    <table class="shoppingcart">
        <caption><strong>Warenkorb:</strong></caption>
        <tr>
            <th scope="col" th:text="'Artikelnummer'" />
            <th scope="col" th:text="'Bezeichnung'" />
            <th scope="col" th:text="''" />
            <th scope="col" th:text="'Menge'" />
        </tr>
        <tr th:each="cartLine: ${shoppingCartLines}">
            <td th:text= "${cartLine[0]}" />
            <td th:text= "${cartLine[1]}" />
            <td><img alt="Produktbild" th:src="@{${cartLine[2]}}" height="120"></td>
            <td th:text= "${cartLine[3]}" />
        </tr>
    </table>

    <div th:replace="fragments :: footer"></div>
</body>
</html>