<main th:fragment="shoppingcart">
  <div th:switch="${total != '0,00'}">
    <div th:case="${true}">
      <div th:if="${!loggedInUser.isEmpty()}">
        <!-- TODO: aus dem style muss noch ne class werden, wie bei der  caption unten-->
        <p
          style="color: #6f6b68; font-weight: bolder"
          th:text="'Deine Lieferanschrift lautet:'"
        />
        <p
          class="mb-0"
          th:text="${customer.firstname} + ' ' + ${customer.lastname}"
        / >
        <p
          class="mb-0"
          th:text="${address.street} + ' ' + ${address.housenr}"
        />
        <p class="mb-0" th:text="${address.postcode} + ' ' + ${address.city}" />
        <p class="mb-0">Deutschland</p>
        <p class="text-muted legal" style="font-size: 0.8rem">
          *Du kannst deine Anschrift in den Kundendaten ändern.
        </p>
      </div>

      <table class="table caption-top">
        <caption>
          <strong>Warenkorb:</strong>
        </caption>
        <tr>
          <th scope="col" th:text="'Artikelnummer'" />
          <th scope="col" th:text="'Typ'" />
          <th scope="col" th:text="'Name'" />
          <th scope="col" th:text="''" />
          <th scope="col" th:text="'Menge'" />
          <th scope="col" th:text="'Einzelpreis'" />
          <th scope="col" th:text="'Gesamtpreis'" />
        </tr>
        <tr th:each="cartLine: ${shoppingCartLines}">
          <td th:text="${cartLine[0]}" />
          <td th:text="${cartLine[1]}" />
          <td th:text="${cartLine[2]}" />
          <td>
            <img alt="Produktbild" th:src="@{${cartLine[3]}}" height="120" />
          </td>
          <td>
            <input
              th:id="'quantity' + ${cartLine[0]}"
              type="number"
              min="0"
              max="2400"
              step="1"
              th:value="${cartLine[4]}"
            />
            <button
              th:onclick=
                "let quantity = (document.getElementById('quantity' + [[${cartLine[0]}]]).value - parseInt([[${cartLine[4]}]]));
                let productID = [[${cartLine[0]}]];
                location.href='/addProductToCart?productID=' + productID + '&quantity=' + quantity;"
              class="btn btn-primary mx-auto"
            >
              &#10004;
            </button>
          </td>
          <td th:text="${cartLine[5]} + ' €'" />
          <td th:text="${cartLine[6]} + ' €'" />
        </tr>
        <tr>
          <td colspan="5" />
          <td th:text="'Summe: '" />
          <td th:text="${total} + ' €'" />
        </tr>
      </table>
      <a href="/ordercompletion" class="btn btn-primary" role="button"
        >Jetzt Bestellen</a
      >
    </div>
    <div th:case="${false}">
      <h2>Deine Bierkiste (Warenkorb) ist noch leer.</h2>
      <a class="btn btn-primary" href="/sortiment">Hier kannst du sie füllen</a>
    </div>
  </div>
</main>
