<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bielefelder Unikat</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/images/favicon.ico}">
</head>
<body>
    <header>
        <div>
            <a href="/"><img src="" alt="Logo Beer-Shop"></a>
        </div>
        <div th:switch="${loggedInUser.isEmpty()}">
            <span th:case="${true}" th:text="'Nicht eingeloggt'" /> <!-- Hier muss noch ein Login-Button hin (+Registrieren) -->
            <span th:case="${false}" th:text="${loggedInUser}" /> <!-- Hier muss noch ein Logout-Button hin -->
        </div>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/sortiment">Sortiment</a></li>
                <li><a href="/impressum">Impressum</a></li>
                <!-- Beliebig viele weitere Menüeinträge -->
            </ul>
        </nav>
    </header>
    <h1>Wir brauen limitiertes Premium-Bier mit Geschichte!</h1>
    <table border=1>
        <caption><strong>Sortiment:</strong></caption>
        <tr>
            <th scope="col" th:text="'ID'" />
            <th scope="col" th:text="'Name'" />
            <th scope="col" th:text="'Beschreibung'" />
            <th scope="col" th:text="'Bild'" />
            <th scope="col" th:text="'Menge in l'" />
            <th scope="col" th:text="'Preis in €'" />
            <th scope="col" th:text="''" />
        </tr>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}" />
            <td th:text="${product.name}" />
            <td th:text="${product.description}" />
            <td><img alt="Produktbild" th:src="@{${product.imgURL}}" height="120"></td>
            <td th:text="${product.amount / 1000.0}" />
            <td th:text="${product.price}" />
            <td>
                <form th:action="@{/addProductToCart}">
                    <button type="submit" th:name="productID" th:value="${product.id}">🛒</button>
                </form>
            </td>
        </tr>
    </table><br>
    <h1>Bestellungen unter 0176/34934106</h1>
    <h1><a href="mailto:bierbestellen@gmail.com?subject=Bestellung">Bestellung per Mail an bierbestellen@gmail.com</a></h1>
</body>
</html>